<!-- ADDING TO THE DATA BASE VIA POST REQUEST -->
<h2>Add Some Shit:</h2>
<form action="/addItem" method="POST" class="container">
  <input type="text" class="flexItem" placeholder="Title" name="title" />

  <select class="flexItem" name="type" id="movieItem">
    <!-- <option value="">--Please choose a type</option> -->
    <option selected value="movie">Movie</option>
    <option value="show">Show</option>
  </select>

  <select class="flexItem" name="platform" id="platform">
    <option value="appleTV">Apple TV</option>
    <option value="hboMax">HBO Max</option>
    <option value="hulu">Hulu</option>
    <option selected value="netflix">Netflix</option>
    <option value="paramountPlus">Paramount Plus</option>
    <option value="peacock">Peacock</option>
    <option value="prime">Prime</option>
    <option value="other">Other</option>
  </select>

  <button class="flexItem" type="submit">Submit</button>
</form>

