<section id="movies">
    <h2>Movies</h2>

    <ul class="items">
        <% for(let i=0; i < movieItem.length; i++) {%>

        <li class="item">
            <!-- ALL ITEMS GET THIS -->
            <input type="checkbox" name="checkbox" class="checkbox" />
            <!-- If item has logoURL in DB -->
            <% if(movieItem[i].logoURL) {%>
            <span> <%= movieItem[i].title%> </span>
            <img height="32" width="32" src="<%=movieItem[i].logoURL%>" />

            <!-- IF NO LOGO URL IN DB, STILL DISPLAY TITLE -->
            <% }else { %>
            <span> <%= movieItem[i].title%> </span>
            <span> <%= movieItem[i].platform || Other%> </span>
            <% } %>
        </li>
        <% } %>
    </ul>
</section>
