<section id="tableTest">
    <table>
      <thead>
        <tr>
          <th>test header</th>
          <td>Prime Video</td>
          <td>Netflix</td>
          <td>Hulu</td>
          <td>Apple TV</td>
          <td>Peacock</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test cell</td>
          <td>
            <img
              height="32"
              width="32"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/primevideo.svg"
            />
          </td>

          <td>
            <img
              height="32"
              width="32"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/netflix.svg"
            />
          </td>

          <td>
            <img
              height="32"
              width="32"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/hulu.svg"
            />
          </td>
          <td>
            <img
              height="32"
              width="32"
              src="https://unpkg.com/simple-icons@v7/icons/appletv.svg"
            />
          </td>
          <td>
            <img height="32"
            width="32"
            src="https://upload.wikimedia.org/wikipedia/commons/d/d3/NBCUniversal_Peacock_Logo.svg">
          </td>
        </tr>
      </tbody>
    </table>
  </section>