<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/table.css" />
  </head>

  <body>  
    <h2>Movies</h2>
    
    <%- include('./partials/movies-section'); %>


    <section id="tableTest">
      <table>
        <thead>
          <tr>
            <th>test header</th>
            <td>Prime Video</td>
            <td>Netflix</td>
            <td>Hulu</td>
            <td>Apple TV</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>test cell</td>
            <td>
              <img
                height="32"
                width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/primevideo.svg"
              />
            </td>

            <td>
              <img
                height="32"
                width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/netflix.svg"
              />
            </td>

            <td>
              <img
                height="32"
                width="32"
                src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/hulu.svg"
              />
            </td>
            <td>
              <img
                height="32"
                width="32"
                src="https://unpkg.com/simple-icons@v7/icons/appletv.svg"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- ADDING TO THE DATA BASE VIA POST REQUEST -->
    <%- include('./partials/formToAdd'); %>

    <script src="js/main.js"></script>
  </body>
</html>
</body>
</html>
