/* MARK IT DARK */

/* body {
    background-color: black;
    border-color: #c59d00;
    color: grey;
} */

.container {
  display: flex;
}

/* input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  } */

.watched {
  text-decoration: line-through;
  color: gray;
}
